<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>281271308096-ne1jrfgb9n07vt749uo62uc437o43li8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281271308096-ne1jrfgb9n07vt749uo62uc437o43li8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5bqfNou31nZQUOvzxvtqSr2zUmCIDTx8</string>
	<key>GCM_SENDER_ID</key>
	<string>281271308096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thoughtworks.fidebeque</string>
	<key>PROJECT_ID</key>
	<string>fidebeque-fb33f</string>
	<key>STORAGE_BUCKET</key>
	<string>fidebeque-fb33f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281271308096:ios:d817e2906a63b803</string>
	<key>DATABASE_URL</key>
	<string>https://fidebeque-fb33f.firebaseio.com</string>
</dict>
</plist>